.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.wrapper img {
  max-width: initial;
}
.fixedNavigation:hover {
  background-color: var(--lightGrey);
  border-radius: 50%;
}
.ascending {
  flex-direction: row-reverse;
}

@media screen and (max-width: 360px) {
  .wrapper {
    gap: 17px;
  }
  .fixedNavigation {
    padding: 8px;
  }
}
