@use "src/viewports";

.wrapper {
  width: 100%;
  max-width: 330px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 20px;
}
.button {
  width: 100%;
  max-width: 270px;
  font-size: 16px;
  word-break: break-word;

  > p {
    padding: 0 24px;
  }

  &:hover,
  &:active {
    background: linear-gradient(var(--darkGrey), rgba(49, 70, 90, .3));
  }
}
@media screen and (max-width: viewports.$small) {
  .wrapper {
    justify-content: center;
  }
}
