.wrapper {
  display: flex;
  gap: 40px;
}
.priseSort {
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
}
.priseSort {
  p {
    padding: 0;
  }
  &:hover path,
  &:active path {
    stroke: var(--black);
  }
  &:hover,
  &:active {
    color: var(--black);
  }
}
.filter {
  max-width: 135px;
  p {
    padding: 10px 20px;
  }
  &:hover {
    background: linear-gradient(var(--red), rgba(177, 2, 7, .3));
    color: var(--lightGrey);
  }
  &:active {
    background: var(--red);
  }
}
