@use 'src/viewports';

.wrapper {
  cursor: pointer;
  padding: 10px 20px;
  transition-duration: 0.2s;
}
.active {
  background-color: var(--red);
  color: var(--white);

  & {
    .arrow path {
      stroke: var(--white);
    }
  }
}
.arrow {
  flex-shrink: 0;
  transition-duration: 0.2s;
}
.rotate {
  transform: rotate(90deg);
}
.clause {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.subcategories {
  position: absolute;
  transform: translateY(100vh);
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
}
.subcategoriesVisible {
  position: relative;
  transform: translateY(0);
  top: 0;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: viewports.$small) {
  .wrapper {
    padding: 10px 24px;
  }
}
@media screen and (max-width: viewports.$medium) {
  .wrapper {
    padding: 10px 16px;
  }
}
