@use "src/viewports";

.btn {
  display: none;

  @media screen and (max-width: viewports.$medium) {
    display: inline-block;
    width: max-content;
  }
}
.sidebarMenu {
  position: fixed;
  left: 0;
  transition-delay: .2s;
}
.sidebarMenuVisible {
  opacity: 1;
}
.sidebarMenuHidden {
  transform: translateX(-100vw);
  opacity: 0;
}

