@use "src/viewports";

.title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 22px;
  font-weight: 600;
  line-height: 120%; /* 26.4px */
}
.container {
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.container a {
  color: var(--black);
}

@media screen and (max-width: viewports.$small) {
  .container {
    row-gap: 20px;
  }
  .title {
    text-align: center;
    font-size: 18px;
  }
}
