@use 'src/viewports';

.wrapper {
  height: 60px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burgerMenu {
  display: none;
}
.logoAndNavBar {
  width: 100%;
  max-width: 545px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 16px;
}
.navBar {
  display: flex;
  align-items: center;
  gap: 30px;
}
.signIn {
  width: 100%;
  max-width: 135px;
}
.userBar {}

@media screen and (max-width: viewports.$medium) {
  .wrapper {
    min-height: 48px;
    height: 100%;
    padding: 0 26px 0 24px;
  }
  .burgerMenu {
    display: block;
  }
  .logoAndNavBar {
    max-width: 207px;
    justify-content: flex-end;
  }
  .logo {
    font-size: 28px;
  }
  .navBar {
    display: none;
  }
}
@media screen and (max-width: viewports.$small) {
  .wrapper {
    padding: 0 16px;
  }
  .logo {
    display: none;
  }
  .logoAndNavBar {
    display: none;
  }
}
