.wrapper {
  padding: 40px 60px;
  border-radius: 40px;
  background: var(--white);
  box-shadow: 0 4px 15px 0 rgba(12, 7, 50, 0.25);
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 40px;
  }
}
@media screen and (max-width: 360px) {
  .wrapper:nth-child(2) {
    padding: 40px 20px 40px 20px;
  }
  .wrapper:nth-child(3) {
    padding: 40px 0;
  }
  .wrapper:nth-child(4) {
    padding: 40px 48px 40px 48px;
  }
}
