.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.products {
  /* 20(nav-wrap) + 10(category-wrap) */
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
