.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.products {
  /* 20(nav-wrap) + 10(category-wrap) */
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (max-width: 768px) {
  .products {
    padding-top: 0;
  }
  .title {
    justify-content: space-between;
  }
}
