.wrapper {
  max-width: 1140px;
  margin: 20px auto 120px auto;
  display: flex;
  column-gap: 20px;
}
.wrapper > *:first-child {
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .wrapper > *:first-child {
    display: none;
  }
}
